.father_footer {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.children_footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}