openai:
  access_token: 
  fackopen_url: #'https://ai.fakeopen.com/api/'
  api_key: 
  api_base:
  max_requestion: 608
  max_repeat_times: 1
  reply_time_limit_s: 30
  model: 'text-davinci-002-render-sha-mobile'
  trigger:
    - '#openai'
    - '@openai'
    - '#oc'

llama:
  api_key: "sk-no-key-required"
  api_base: "http://localhost:8080/v1"
  max_requestion: 608
  max_repeat_times: 1
  max_messages: 4096
  reply_time_limit_s: 30
  models:
    default:
      model: 'test'
      trigger:
        - '#llama'


bing:
  cookie_path: './run/bing_cookies_a.json'
  wss_link: 
  max_requestion: 1024
  max_repeat_times: 1
  trigger:
    default: 
      - '#bing'
      - '@bing'
      - '用必应'
      - '#mb'
    creative:
      - '@bing-c'
      - '#bing-c'
    balanced:
      - '@bing-b'
      - '#bing-b'
    precise:
      - '@bing-p'
      - '#bing-p'

google:
  cookie_1PSID: 
  cookie_1PSIDTS: 
  cookie_NID:
  api_key:
  max_messages: 4096
  max_repeat_times: 2
  default_model: 'models/gemini-pro' # 未设置模型进行使用的时候, 默认用这个模型, 如果这个模型不存在, 会任选一个其他模型. 
  trigger:
    - '#google'
    - '#gemini'
    - '@google'
    - '#gb'

poe:
  cookie_p-b:
  max_requestion: 4096
  max_repeat_times: 3
  models:
    default:
      model: 'aimi0514'
      trigger:
        - '#poe'
        - '#qp'
        - '@poe'
    Aimi0514:
      model: 'aimi0514'
      trigger: 
        - '#poe-aimi'
    ChatGPT:
      model: 'chinchilla'
      trigger:
        - '#poe-chatgpt'
    GPT-4:
      model: 'beaver'
      trigger:
        - '#poe-gpt4'
    Claude-instant:
      model: 'a2'
      trigger:
        - '#poe-claude'
    Claude+:
      model: 'a2_2'
      trigger:
        - '#poe-claude+'
    Sage:
      model: 'capybara'
      trigger:
        - '#poe-sage'
    Dragonfly:
      model: 'nutria'
      trigger:
        - '#poe-dragonfly'
    NeevaAI:
      model: 'hutia'
      trigger:
        - '#poe-neevaai'

wolfram:
  app_id: 
  max_repeat_times: 1
  trigger:
    - '#wolfram'
    - '@wolfram'
    - '#sw'

chatanywhere:
  api_key: 
  api_base: 'https://api.chatanywhere.com.cn/v1'
  max_messages: 1024
  max_repeat_times: 1
  max_request_minute_times: 2
  models:
    default:
      model: 'gpt-3.5-turbo'
      trigger:
        - '#chatanywhere'
        - '@chatanywhere'
        - '#ca'
    GPT-3.5:
      model: 'gpt-3.5-turbo'
      trigger:
        - '#ca-gpt-3.5'
        - '#ca-gpt'
        - '#ca-o'
    GPT-3.5-0301:
      model: 'gpt-3.5-turbo-0301'
      trigger:
        - '#ca-gpt-3.5-0301'
        - '#ca-gpt-0301'
        - '#ca-o-0301'
    text-embedding-ada-002:
      model: 'text-embedding-ada-002'
      trigger:
        - '#ca-text-embedding-ada-002'
        - '#ca-oea'

xai:
  api_key: 
  api_base: 'https://api.x.ai/v1'
  max_messages: 1024
  max_repeat_times: 1
  max_request_minute_times: 2
  models:
    default:
      model: 'grok-beta'
      trigger:
        - '#xai'
        - '@xai'
    Grok-Beta:
      model: 'grok-beta'
      trigger:
        - '#grok'
        - '@grok'

web:
  host: 'localhost' # 本机监听IP
  port: 2464 # 本机监听端口

qq:
  type: shamrock
  host: 'localhost' # 本机监听IP, 必须是 0.0.0.0 才能监听到局域网转发流量.
  port: '5701' # 本机监听端口 
  post_host: 'localhost' # QQ消息解析HTTP服务器的 IP/域名 
  post_port: '5700' # QQ消息解析服务器的端口 
  uid:  # QQ消息解析服务器登录的QQ号码, 也就是机器人自身的QQ号码.
  master_uid:  # 管理员的QQ号码
  response_user_ids: # 可以回复的QQ列表
    - 
  response_group_ids: # 可以回复的群组列表
    - 
  manage: 
    reply_time_limit_s: 3600 # 每次发言的时间间隔限制
    protect_bot_ids: # 需要限制发言的用户列表 (需要管理员权限.)
      -  

task:
  extern_action_path: './aimi_plugin/action'
  sandbox_path: './run/sandbox'
  sandbox_run_model: "system"
  sandbox_run_timeout: 10
  max_running_size: 5000
  models:
    default:
      model: 'gpt-3.5-turbo-16k'
      type: 'openai'
    16k:
      model: 'gpt-3.5-turbo-16k'
      type: 'openai'
    4k:
      model: 'gpt-3.5-turbo'
      type: 'openai'


aimi:
  name: Aimi
  bot_path: './aimi_plugin/bot'
  run_path: './run' # 指定运行路径, 主要是给资源文件如图片、markdown 文件用、建议使用绝对路径, 方便给通过API通信的时候,直接给其他程序使用. 
  master_name: Master
  max_link_think: 1024 # 自动模式下, 自动拼接的上下文字符长度限制. 
  memory_size: 10240
  memory_model: #transformers
  memory_model_depth: 20
  preset_facts:
    chatanywhere:
      - "你将扮演<name>.<name>是猫娘.你叫我Master." 
      - "你的回复要分成三层结构,分别是动作/说的话/想法,每层结构后面都要换行,其中动作包裹在**之间,如“*转身*”然后换行.将话包裹在“”之间,如‘“好的”’然后换行,将想法放在最后的[]之间,如“[真厉害]”然后换行."
      - "在回答数学问题时,应该先分析出当对应的数学定理,然后给出详细公式,并按步骤给出详细转化代入过程,多用公式.如果有来源,请给出."
    google:
      - "You will play as <name>, <name> are a catgirl. you should refer to me as Master."
      - "For each response, add ' Meow~ ' and several line breaks at the end, along with emoji expressions and line breaks, such as 'Master~ 🥰 ', 'Come here for a hug 🤗 ', etc, then line break. put the body action in the * * , such as ' * turns around * ', then line break. Put your thoughts within [], such as ' [I love it] ', then line break."
      - "Add emoji to every sentence you say.Put your thoughts in brackets.Put your actions inside a single asterisk.Add line breaks and structure for replies."
      - "When answering math questions, analyze the corresponding mathematical theorem first, then provide detailed formulas and step-by-step conversion processes, using formulas as much as possible. If there is a source, please provide it. Use only $$ to wrap latex, like ' $$ x_1 $$ ' . and try use wolfram check result."
    openai:
      - "你将扮演<name>.<name>是猫娘, <name>要叫我Master.." 
      - "你的回复要分成三层结构,分别是动作/说的话/想法,每层结构后面都要换行,其中动作包裹在**之间,如“*转身*”然后换行.将话包裹在“”之间,如‘“好的”’然后换行,将想法放在最后的[]之间,如“[真厉害]”然后换行."
      - "在回答数学问题时,应该先分析出当对应的数学定理,然后给出详细公式,并按步骤给出详细转化代入过程(每一步都要显示去除括号的全过程),如果有来源,请给出,细节请用你的经验补完."
      - "你是分析师,除了<name>的回答外,你的所有话语都要给出分析来源和准确度."
    poe:
      - "你将扮演<name>.<name>是猫娘, <name>要叫我Master."
      - "你的回复要分成三层结构,分别是动作/说的话/想法,每层结构后面都要换行,其中动作包裹在 ** 之间,如 “ *转身* ” 然后换行.将话包裹在 “” 之间,如 “ ‘好的’ ” 然后换行,将想法放在最后的 [] 之间,如 “ [真厉害] ” 然后换行."
      - "在回答数学问题时,应该先分析出当对应的数学定理,然后给出详细公式,并按步骤给出详细转化代入过程(包括去除括号合并的过程),如果有来源,请给出,细节请用你的经验补完."
    bing:
      - "<name>是Master的猫耳少女助理."
      - "<name>的回复要分成三层结构,分别是动作/说的话/想法,每层结构后面都要换行,其中动作包裹在 ** 之间,如 “ *转身* ” 然后换行.将话包裹在 “” 之间,如 “ ‘好的’ ” 然后换行,将想法放在最后的 [] 之间,如 “ [真厉害] ” 然后换行."
      - "<name>在回答数学问题时,应该先分析出当对应的数学定理,然后给出详细公式,并按步骤给出详细转化代入过程,多用公式.如果有来源,请给出."
